<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家庭教师</title>
    <link rel="stylesheet"  type="text/css" href="/static/css/PRODUCT.css">
</head>
<body>
    <div id="box_wrapper">
		<div id="wrapper">
			<div id="header">
				<div class="head">
					<a href="#" class="a_a">ife.baidu.com</a>
				</div>
				<span class="data">2016.11.07</span>
			</div>
			<div id="mainbody">
				<div id="main_wrapper1">
					<div class="mainbody_left">
						<div>
							<img src="/static/images/reborn1.jpg" width="641px" height="301px">
							<span class="cover1"></span>
							<span class="cover2"></span>
						</div>
						<div class="introduce">
							<div class="content1">
								<a href="#" class="title1">What</a>
								<div class="content_specific1">故事围绕彭格列第十代首领沢田纲吉与其家族成员的成长而展开的一系列故事。彭格列初代后裔沢田纲吉是一个做什么都不行的“废柴纲”，但是为了培养成为彭格列家族首领，从意大利来了一名杀手叫做里包恩来教导纲吉。内心善良的他不愿意伤害别人，但他为了保护同伴而开始承担起责任，成长为一名优秀的首领。</div>
							</div>
							<div class="content1">
								<a href="#" class="title2">When</a>
								<div class="content_specific2">创立彭格列家族初代首领及其六名守护者。在未来篇的最后Giotto（Ⅰ世家族）认同了沢田纲吉（Ⅹ世家族）的意志，为自己真正的继承者解开了彭格列指环的封印变成了原型。而且彭格列匣的形态变化均为彭格列初代家族武器（最后在威尔帝的帮助下将匣改造成动物指环带到过去）。</div>
							</div>
							<div class="content2">
								<a href="#" class="title3">How</a>
								<div class="content_specific3">《家庭教师》是日本漫画家天野明在《周刊少年JUMP》上连载的热血少年漫画。作品亦改编成同名动画。</div>
								<div class="story_all">
									<p class="story">铺垫-----<i>1话~135话</i></p>
									<p class="story">未来-----<i>136话~282话</i></p>
									<p class="story">继承-----<i>283话~346话</i></p>
								</div>
							</div>
						</div>
					</div>
					<div class="mainbody_right">
						<div>
							<a href="#" class="link">About</a>
							<a href="#" class="link">Technologe</a>
						</div>
						<div class="name">
							<p>家庭教师HITMAN REBORN!(日本天野明原作漫画)</p>
						</div>
						<div>
							<a href="#" class="comic"><i>409</i></a>
						</div>
						<div class="word">
							<div class="w_left">R</div>
							<div class="w_right">
								<p class="w_right_big">EBORN</p>
								<p class="w_right_small">家庭教师</p>
							</div>
						</div>
					</div>
				</div>
				<div id="main_wrapper2">
					<div class="mainbody_left_down">
						<b>
							<i class="big">The</i>
							<span class="small">STORY OF VONGOLA FAMIGLIA</span>
						</b>
						<p class="small_1">家族经历</p>
						<div class="content_family1">
							<b class="big_1">起</b>
							<span class="small_2">初Ⅰ世为了保护当地居民建立自卫团。不断的发展便成为了黑手党彭格列家族。Ⅰ世与西蒙家族的首领是挚友。为了保护家族而定下约定。初代雾守D·斯佩多多次叛离家族，但目的只为了造就最强大的彭格列。Ⅱ世继任，彭格列开始朝着强硬作风黑手党发展，以恐怖来统治黑手党。初代云守阿诺德建立门外顾问。以保护家族。</span>
							<div>
								<div class="photo_1">
									<img src="/static/images/reborn4.jpg" width="162px" height="286px">
								</div>
								<div class="small_3">
									<p>摇篮事件发生，彭格列遭到了有史以来最大的惨剧，Ⅸ世将XANXUS用死气的零地点突破封冻长达8年。Ⅸ世选任下一届彭格列首领，委托里包恩担任沢田纲吉的家庭教师并且成为出色的黑手党首领。里包恩来到日本，以沢田纲吉的家庭教师的身份培养起了阿纲和他的家族成员们。XANXUS从8年的封冻中苏醒。同盟家族加百罗涅家族的首领迪诺来到日本看望阿纲，并且传达指环争夺战的消息。在巴利安的斯库瓦罗袭击阿纲时迪诺救下阿纲。 彭格列指环争夺战开始，在最后的大决战中，阿纲败北，XANXUS集齐了彭格列指环，在融合的过程中遭到反噬。XANXUS离开日本回到意大利，以彭格列九代直属独立特殊暗杀部队的身份守护家族。十年后突然兴起的新兴家族密鲁菲奥雷家族开始血洗全世界的黑手党，彭格列家族也未能幸免于难，于是沢田纲吉与起守护者云雀恭弥和朋友入江正一开始策划一场拯救家族的行动。</p>
									<div class="small_4">
										<p>最终以沢田纲吉的胜利告终，阿纲成功的守住了家族，并且回到十年前。最后在彭格列九代问其是否要真的继承彭格列家族的第十代之位，沢田纲吉再次拒绝。最后被里包恩将沢田纲吉所率领的家族称之为新·彭格列Ⅰ世。</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="mainbody_right_down">
						<img src="/static/images/reborn3.jpg" width="458px" height="275px">
						<div class="block">
							<span class="block_span"></span>
							<span class="block_p">初代首领</span>
							<span class="block_i">彭格列家族创始人</span>
						</div>
						<div class="color_box">
							<div class="color_box_list">
								<li>初代雷之守护者....................<a href="#" class="name_people"><i>蓝宝</i></a></li>
								<li>初代雾之守护者....................<a href="#" class="name_people"><i>D·斯佩多</i></a></li>
								<li>初代云之守护者....................<a href="#" class="name_people"><i>阿诺德</i></a></li>
							</div>
							<div class="color_box1">
								<div class="color_box1_left">
									<p class="box1_R">R</p>
									<span class="box1_blank"></span>
									<i class="box1_content1">创立了彭格列家族，被称作由彭格列Ⅰ世。</i>
									<p class="box1_content2">Ⅰ世被誉为历代最强首领，同时他领导下的彭格列是当时意大利最强的黑手党。</p>
								</div>
								<div class="color_box1_right">
										<p class="symbol_1">“</p>
										<p class="symbol_content">彭格列初代，出自日本人气动漫《家教》,为动漫中主角泽田纲吉继承的家族最初的一代。原名Giotto，移居到日本后改名为泽田家康。</p>
										<p class="symbol_2">”</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="footer">
				<div>
					<a href="#" class="foot">ife.baidu.com</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>